<head>
  <title>Dashboard</title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
</head>
<body>
  <nav class="red lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a
        id="logo-container"
        href="/"
        class="brand-logo left red-text text-lighten-5"
        >You currently have <%= credits %> Credits</a
      >
      <ul class="right">
        <li>
          <form action="/checkout" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="pk_test_gITSyPLbjNIx9pZANGDpPybK00XHcXTkvG"
              data-amount="499"
              data-currency="USD"
              data-name="Feedback Loop"
              data-description="Purchase 5 Credits"
              data-zip-code="true"
              data-image="https://cdn3.iconfinder.com/data/icons/business-outline-1/64/business-outline-07-512.png"
              data-locale="auto"
            ></script>

            <!-- Hide default stripe button -->
            <script>
              document.getElementsByClassName(
                'stripe-button-el'
              )[0].style.display = 'none';
            </script>

            <!-- Add custom submit button -->
            <li>
              <button type="submit" class="btn red">
                Buy 5 Credits
              </button>
            </li>
          </form>
        </li>
        <li style="margin-left: 10px">
          <a href="/logout" class="red-text text-lighten-5">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <br />

  <% if (userSurveys.length){ %> <% userSurveys.forEach(survey => { %>
    
  <div class="container">
    <div class="col s12">
      <div class="card red lighten-5">
        <div class="card-content black-text">
          <span class="card-title center" style="text-transform: uppercase;"
            ><strong><%= survey.title %></strong></span
          >
          <hr />
          <br />
          <div class="row">
            <div class="col s6"><strong>Subject:</strong></div>
          </div>
          <div class="row center">
            <div class="col s12"><p><%= survey.subject %></p></div>
          </div>
          <div class="row">
            <div class="col s6"><strong>Body:</strong></div>
          </div>
          <div class="row center">
            <div class="col s12"><p><%= survey.body %></p></div>
          </div>
          <div class="row">
            <div class="col s6"><strong>Date sent:</strong></div>
          </div>
          <div class="row center">
            <div class="col s12"><p><%= survey.dateSent %></p></div>
          </div>
          <div class="row">
            <div class="col s6"><strong>Last response:</strong></div>
          </div>
          <div class="row center">
            <div class="col s12"><p><%= survey.lastResponded %></p></div>
          </div>
        </div>
        <div class="card-action">
          <a style="color:#f44336; cursor: pointer;"
            ><strong>Yes votes: <%= survey.yes %></strong></a
          >
          <a style="color:#f44336; cursor: pointer;"
            ><strong>No votes: <%= survey.no %></strong></a
          >
        </div>
      </div>
    </div>
    <br />
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons" onclick="location='/survey/new'"
        >mode_edit</i
      >
    </a>
  </div>

  <% })}else{ %>

  <div class="container">
    <h1>Empty Dashboard!</h1>
    <p>
      <strong>You don't have any surveys.</strong> Start with your first survey
      by clicking on the button below!
    </p>
    <hr />
    <p>
      <button class="btn" onclick="location='/survey/new'">
        Send my first survey
      </button>
    </p>
  </div>

  <% } %>

</body>
