<head>
  <title>Send Survey</title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
</head>
<body>
  <div class="container center">
    <br />
    <h5><strong>PLEASE CHECK YOUR SURVEY BEFORE PRESSING CONTINUE</strong></h5>
    <br />
    <hr />
    <table>
      <tbody>
        <tr>
          <td><strong>Survey Name</strong></td>
          <td class="right"><%= title %></td>
        </tr>
        <tr>
          <td><strong>Subject</strong></td>
          <td class="right"><%= subject %></td>
        </tr>
        <tr>
          <td><strong>Body</strong></td>
          <td class="right"><%= body %></td>
        </tr>
        <tr>
          <td><strong>Email List</strong></td>
          <td class="right">
            <% emailList.forEach(email=>{ %>
            <div><%= email %></div>
            <% }) %>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <div class="row">
      <button class="col s5 left btn" onclick="window.history.back()">
        Back
      </button>
      <button class="col s5  right btn red" onclick="submit()">
        Continue
      </button>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function submit() {
      console.log('hello');
      await axios.post('/survey/send', {
        title: '<%= title %>',
        subject: '<%= subject %>',
        body: '<%= body %>',
        recipients: '<%= emailList %>'
      });
      location = '/';
    }
  </script>
</body>
